:root{
    --curve-radius: 10px;
    --curve-radius-large: 20px;
    --zig-zag-outline: polygon(
    0% 10px, 1% 0, 2% 10px, 3% 0, 4% 10px, 5% 0, 6% 10px, 7% 0,
    8% 10px, 9% 0, 10% 10px, 11% 0, 12% 10px, 13% 0, 14% 10px, 15% 0,
    16% 10px, 17% 0, 18% 10px, 19% 0, 20% 10px, 21% 0, 22% 10px, 23% 0,
    24% 10px, 25% 0, 26% 10px, 27% 0, 28% 10px, 29% 0, 30% 10px, 31% 0,
    32% 10px, 33% 0, 34% 10px, 35% 0, 36% 10px, 37% 0, 38% 10px, 39% 0,
    40% 10px, 41% 0, 42% 10px, 43% 0, 44% 10px, 45% 0, 46% 10px, 47% 0,
    48% 10px, 49% 0, 50% 10px, 51% 0, 52% 10px, 53% 0, 54% 10px, 55% 0,
    56% 10px, 57% 0, 58% 10px, 59% 0, 60% 10px, 61% 0, 62% 10px, 63% 0,
    64% 10px, 65% 0, 66% 10px, 67% 0, 68% 10px, 69% 0, 70% 10px, 71% 0,
    72% 10px, 73% 0, 74% 10px, 75% 0, 76% 10px, 77% 0, 78% 10px, 79% 0,
    80% 10px, 81% 0, 82% 10px, 83% 0, 84% 10px, 85% 0, 86% 10px, 87% 0,
    88% 10px, 89% 0, 90% 10px, 91% 0, 92% 10px, 93% 0, 94% 10px, 95% 0,
    96% 10px, 97% 0, 98% 10px, 99% 0, 100% 10px,
    100% 100%, 0% 100%);
}
*{
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    background-color: #333;
}
main{
    width: 1080px;
    min-height: 1000px;
    margin:auto;
    background-color: #F5EFE3;
}
a{
    text-decoration: none;
    font-weight: 500;
    text-transform: capitalize;
}

header{
    padding: 0 0 200px 0;
    text-align: left;
    background-image: url("./header.png");
    background-position: center;
    background-size: 100%;
    display: flex;
    .icon{
        width: 4rem;
        height: 4rem;
        margin: 10px 0 0 10px;
    }
    h1{
        margin-top: 26px;
    }
}
nav{
    position: sticky;
    z-index: 2;
    top: 0px;
    background: linear-gradient(to bottom right, #e8e8e8 0%,#ffffff 20%,#c0c0c0 50%,#8a8a8a 60%,#b8b8b8 80%,#e8e8e8 100%);
    border-radius: var(--curve-radius);
    border: 1px solid gray;
    ul{
        width:fit-content;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        list-style: none;
        column-gap: 30px;
        text-align: center;
        padding: 10px 0 10px 32px;
        background-image: url(./icon.png);
        background-position: left;
        background-size: 2rem;
        background-repeat: no-repeat;   
    }
    a{
        color: black;
        display: inline-block;
        transition: transform 0.3s ease;
        &:hover{
            transform: scale(1.1);
        }
    }
}
.background{
    min-height: 600px;
    border: 1px solid red;
    position: relative;
    background-color: #e8e8e8;
    margin: 10px;
    text-align: center;
    h1{
        margin: 20px;
    }
}

.container{
    display: grid;
    grid-template-columns : 200px 1fr;
}
aside{
    border: 1px solid red;
    padding: 20px;
    ul{
        list-style: none;
    }
}
section{
    border: 1px solid red;

}
article{

}



footer {
    padding: 30px 10px 10px;
    color: white;
    background-color: black;
    height: 100%;
    bottom: 0px;
    clip-path: var(--zig-zag-outline);
    a{
        color: white;
        &:hover{
            color: #d206d2;
        }
    }
    ul{
        list-style: none;
        i{
            font-size: 20px;
        }
    }
    p{
        text-align: center;
        margin: 20px;
    }
}
.whole-list{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    ul{
        display: flex;
        flex-direction: column;
        li::first-letter{
            text-transform: capitalize;
        }
    }
    .icons{
        display: flex;
        flex-direction: row;
    }
}
.list-head, .s-box{
    margin-bottom: 20px;
}
